/* INIZIO ESERCIZIO 1 */
.ex-1-square:hover{
    background-color: red;
    transition: 5s;
}
/* FINE ESERCIZIO 1 */

/* INIZIO ESERCIZIO 2 */
.ex-2-square:active{
    transition: 3s;
    width: 100%;
}
/* FINE ESERCIZIO 2 */

/* INIZIO ESERCIZIO 3 */
.ex-3-square:hover{
    transition: 5s;
    border-radius: 50%;
}
/* FINE ESERCIZIO 3 */

/* INIZIO ESERCIZIO 4 */
.ex-4-square:hover{
    transition: 5s;
    opacity: 0;
}
/* FINE ESERCIZIO 4 */

/* INIZIO ESERCIZIO 5 */
.ex-5-square:hover{
    transition: 3s;
    transform: scale(2);
}

.ex-5-square:active{
   transform: scale(0.5);
}
/* FINE ESERCIZIO 5 */

/* INIZIO ESERCIZIO 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* FINE ESERCIZIO 6 */

/* INIZIO ESERCIZIO 7 */
.ex-7-img:hover{
    filter: grayscale(100%);
    transition: 5s;
}
/* FINE ESERCIZIO 7 */

/* INIZIO ESERCIZIO 8 */
.ex-8-img:hover{
    filter: sepia(70%);
    transition: 5s;
    border-radius: 15%;
}
/* FINE ESERCIZIO 8 */

/* INIZIO ESERCIZIO 9 */
.ex-9-img:hover{
    filter: saturate(70%);
    transition: 5s;
    border-radius: 15%;
    transform: scale(0.7);
}
/* FINE ESERCIZIO 9 */

/* INIZIO ESERCIZIO 10 */
.ex-10-icon{
    animation: movement 1s linear infinite reverse;
}

@keyframes movement{
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }

}

/* FINE ESERCIZIO 10 */

/* INIZIO ESERCIZIO 11 */
.ex-11-icon:hover{
    animation: movement2 3s linear;
}

@keyframes movement2{
    0%{
        rotate: 0deg;
    }

    90%{
        rotate: 250deg;
    }

    100%{
        rotate: 0deg;
    }
}
/* FINE ESERCIZIO 11 */

/* INIZIO ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: top 3s infinite ;
}

@keyframes top {
    0%{
        left: 10%;
    }

    50%{
        left: 65%;
    }

    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottom 3s infinite ;
}

@keyframes bottom {
    0%{
        right: 20%;
    }

    50%{
        right: 65%;
    }

    100%{
        right: 20%;
    }
}
/* FINE ESERCIZIO 12 */

/* INIZIO ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: top2 4s linear infinite;
}

@keyframes top2{
    0%{
        left: 10%;
        top: -10px;
    }

    20%{
        left: 170px;
        top: -10px;
    }

    40%{
        top: 60px;
        left: 170px;
    }

    60%{
        top: 60px;
        left: -10px;
    }

    80%{
        top: -10px;
        left:-10px;
    }

    100%{
        top: -10px;
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: bottom2 4s linear infinite ;
}

@keyframes bottom2{
    0%{
        right: 20%;
        bottom: -10px;
    }

    20%{
        right: 150px;
        bottom: -10px;
    }

    40%{
        bottom: 60px;
        right: 150px;
    }

    60%{
        bottom: 60px;
        right: -10px;
    }

    80%{
        bottom: -10px;
        right:-10px;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}
/* FINE ESERCIZIO 13 */








