/* INIZIO ESERCIZIO 1 */
.ex-1-square:hover{
    background-color: red;
    transition: 5s;
}
/* FINE ESERCIZIO 1 */

/* INIZIO ESERCIZIO 2 */
.ex-2-square:active{
    transition: 3s;
    width: 100%;
}
/* FINE ESERCIZIO 2 */

/* INIZIO ESERCIZIO 3 */
.ex-3-square:hover{
    transition: 5s;
    border-radius: 50%;
}
/* FINE ESERCIZIO 3 */

/* INIZIO ESERCIZIO 4 */
.ex-4-square:hover{
    transition: 5s;
    opacity: 0;
}
/* FINE ESERCIZIO 4 */

/* INIZIO ESERCIZIO 5 */
.ex-5-square:hover{
    transition: 3s;
    transform: scale(2);
}

.ex-5-square:active{
   transform: scale(0.5);
}
/* FINE ESERCIZIO 5 */

/* INIZIO ESERCIZIO 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* FINE ESERCIZIO 6 */

/* INIZIO ESERCIZIO 7 */
.ex-7-img:hover{
    filter: grayscale(100%);
    transition: 5s;
}
/* FINE ESERCIZIO 7 */

/* INIZIO ESERCIZIO 8 */
.ex-8-img:hover{
    filter: sepia(70%);
    transition: 5s;
    border-radius: 15%;
}
/* FINE ESERCIZIO 8 */

/* INIZIO ESERCIZIO 9 */
.ex-9-img:hover{
    filter: saturate(70%);
    transition: 5s;
    border-radius: 15%;
    transform: scale(0.7);
}
/* FINE ESERCIZIO 9 */

/* INIZIO ESERCIZIO 10 */

/* FINE ESERCIZIO 10 */


